@font-face {
    font-family: 'Garamond';
    src: url('/fonts/AppleGaramond.ttf');
}

@font-face {
    font-family: 'Garamond-Bold';
    src: url('/fonts/AppleGaramond-Bold.ttf');
}

@font-face {
    font-family: 'Short';
    src: url('/fonts/ShortStack-Regular.ttf');
}

@font-face {
    font-family: 'Pink';
    src: url('/fonts/PINKPANTHER.TTF');
}

html {
    scroll-behavior: smooth;
    padding-bottom: 50px;
}

body {
    font-family: 'Garamond', auto;
    overflow: scroll; 
    overflow-x: hidden;   
    max-width: 1500px;
    margin: 0 auto;
}

h3 {
    font-size: x-large;
    margin: 0;
}

nav {
    position: sticky;
    top: 80px;
    align-self: start;
    display: flex;
}

.polaroid {
    width: 400px;
    border: 15px solid whitesmoke;
    border-bottom: 60px solid whitesmoke;
    box-shadow: 1px 1px 2px 2px rgb(75, 26, 35);
}